<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Theme Bureau{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.png" />
        <!-- Styles -->
        {{ "normalize.css" | asset_url | stylesheet_tag }}
		{{ "grid.css" | asset_url | stylesheet_tag }}
		{{ "style.css" | asset_url | stylesheet_tag }}
		{{ "type.css" | asset_url | stylesheet_tag }}
		{{ "animate.css" | asset_url | stylesheet_tag }}
		{{ "font-awesome.min.css" | asset_url | stylesheet_tag }}
    </head>
    <body>
	    {% include "header" %}
	    <!-- Content block, child page inject content -->
	    {% block content %}{% endblock %}
	    {% include "footer" %}
        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/ccb0dpc.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24451901-1']);
          _gaq.push(['_setDomainName', 'tbureau.co']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>